<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Shopping List App</title>
     <link rel="stylesheet" href="style.css">
</head>
<body>
          
     <div id="shopping-list">
          
          <!--making a button to wrap our form div then toggle using v-if and v-else-->
          <div>
               
               <h1>{{ header.toLocaleUpperCase() }}</h1>
               <!-- <button v-if="state = 'default'" @click="changeState('edit')">Add items</button> -->

               <!-- <button v-else @click="changeState('default')">Cancel</button> -->
          </div>
          <!-- <div v-if="state === 'edit' "> -->
               <!-- <div v-if="state === 'edit' " class=""> -->
          <!-- <h1>{{ header ? header: "welcome" }}</h1> -->
          <!-- <input type="text" v-model="header"> -->
               <input type="text" v-model="newItem" placeholder="Add an item" @keyup.enter="saveItem">
               <!-- <button v-bind:disabled="newItem.length === 0" @click="saveItem">Save Items</button>
               
               or-->
               
               <button :disabled="newItem.length === 0" @click="saveItem">Save Items</button>
               

          <!-- </div> -->

          <!-- <a v-bind:href="newItem" target="_blank">Dynamic Link</a> -->
          <!-- below is how you loop over an item in vue -->
          <ul>
               <li v-for="item in items">
                    {{ item }}
               </li>
          </ul>

          <!-- <input type="text" v-model="newItem" placeholder="Add an item" v-on:keyup.enter="items.push(newItem)">
          <button v-on:click="items.push(newItem)">Save Items</button> -->

          <!--Below we replace v-on: with the @symbol-->
          
          <!-- <input type="text" v-model="newItem" placeholder="Add an item" @keyup.enter="items.push(newItem)">
          <button @click="items.push(newItem)">Save Items</button> -->

          <!--Below we want to replace our event action with the method saveItem-->

          

          <!--let's now do a conditional rendering-->
          <p v-if="items.length === 0">Nice job, you bought all the items</p>

     </div>
     
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

     <script>
          var shoppingList = new Vue ({
               el: "#shopping-list",
               data: {
                    //we use state to manage(toggle)
                    state: "default",
                    // header: 'Vue is ready to party!'
                    header: "Shopping List App",
                    newItem: "",
                    items: [
                         // '10 party hats',
                         // '2 board games',
                         // '20 cups',
                    ]
               },
               methods: {
                    //here we define the method object or add methods that encapsulates specific functionality for our view instance. This is where we save our JavaScript logic
                    saveItem: function() {

                         this.items.push(this.newItem);
                         this.newItem = '';
                    },

                    changeState: function(newState){
                         this.state = newState;
                         this.newItem = '';
                    }
               }
          });
     </script>
    
</body>
</html>