<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using Conditionals and Rendering List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="vue.js"></script>

    <div id="app">
        <!-- <p v-if="show">You can see me!</p> -->
        <!--in a case of nested elements, it removes everything like below-->
        <p v-if="show">You can see me! <span>Hello!</span></p>
        <p v-else>Now you can see me!</p>
        <p>Do you also see me?</p>
      
        <button @click="show = !show">Switch</button>

        <br>
        <br>

        <ul>
            <li v-for="ingredient in ingredients">
                {{ ingredient }}
            </li>
            <br>
            <br>
            <!--To iterate through an array and also get it's index-->
            <li v-for="(ingredient, i) in ingredients">
                {{ ingredient }} ({{ i }})
            </li>
        </ul>


    </div>













    <script>
        new Vue ({
            el: "#app",

            data: {
                show: true,
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [
                    {name: 'Max', age: 27, color: 'red'},
                    {name: 'Anna', age: 'unknown', color: 'blue'}
                ]
            }
        })
    </script>
</body>
</html>